h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.4;
    text-align: center;

    a {
        font-weight: 900;
    }

    span {
        display: block;
        padding-top: 12px;
        font-weight: 300;
        font-size: 20px;
        color: #aaa;
    }
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.4;

    a {
        font-weight: 900;
    }

    span {
        display: block;
        padding-top: 5px;
        font-weight: 300;
        font-size: 20px;
        color: #aaa;
    }
}

h3 {
    margin-top: 20px;
    margin-bottom: 16px;
    font-weight: 900;
    font-size: 22px;
    line-height: 1.4;

    a {
        font-weight: 900;
    }

    span {
        display: block;
        padding-top: 5px;
        font-weight: 300;
        font-size: 16px;
        color: #aaa;
    }
}

h4 {
    margin-top: 20px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;

    a {
        font-weight: 700;
    }

    span {
        display: block;
        padding-top: 5px;
        font-weight: 300;
        font-size: 14px;
        color: #aaa;
    }
}

h5 {
    margin-top: 20px;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 15px;
    line-height: 1;

    a {
        font-weight: 700;
    }

    span {
        display: block;
        padding-top: 5px;
        font-weight: 300;
        font-size: 12px;
        color: #aaa;
    }
}

a {
    display: inline-block;
    margin: 0 3px;
    font-weight: 500;
    text-decoration: underline var(--three-link-underline-color);
}

strong {
    font-weight: 900;
    color: #000;
}

p, ul, ol, table {
    margin-top: 0;
    margin-bottom: 16px;
}

p {
    margin-bottom: 12px;
}

ul, ol {
    padding-left: 18px;

    p {
        margin-bottom: 1em;
    }
}

li {
    margin-bottom: 2px;
}

ul {
    list-style-type: disc;
}

dd {
    margin-left: 20px;
}

em {
    display: block;
    color: #0e1422;
    opacity: .75;
    text-align: center;
}

img {
    max-width: 100%;
}

table {

    width: 100%;
    border-top: 1px solid var(--color-table-border);
    line-height: 1.3;
    font-size: 12px;

    th,
    td {
        padding: 3px 5px;
        border-bottom: 1px solid var(--color-table-border);

        span.code {
            white-space: nowrap;
            margin: 3px;
        }

        strong {
            margin: 0 3px;
            font-weight: 900;
            color: #000;
        }
    }

    th + th,
    td + td {
        border-left: 1px solid var(--color-table-border);
    }

    tbody {
        tr {
            transition: background-color .5s ease-out;

            &:hover {
                background: #f5f5f5;
            }
        }
    }
}

.code {
    display: inline-flex;
    margin: 0 3px;
    padding: 4px 6px 4px;
    background-color: var(--three-code-background-color);
    border-radius: 3px;
    line-height: 1;
    color: var(--three-code-color);
}

.note,
.warn {
    display: block;
    margin-bottom: 10px;
    padding: 7px 12px 0;
    overflow-x: auto;
    transition: color .5s, background-color .5s;
    position: relative;
    line-height: 1.6;
    font-weight: 500;
    border-radius: 4px;

    p {
        margin-bottom: 7px;
    }

    ul, ol {
        line-height: 1.4;
    }
}

.note {
    background: var(--three-note-background-color);
}

.warn {
    background: var(--three-notice-color);
}

.origin {
    width: 100%;
    padding: 10px 0;
    background: rgba(255, 255, 255, .9);
    text-align: center;
    pointer-events: none;

    .btn-sandcastle {
        pointer-events: fill;
    }
}

.btn-sandcastle {
    background: var(--three-link-underline-color);
    color: #0e1422;
    box-sizing: border-box;
    appearance: none;
    border-style: none;
    --padding-block: 0.75rem;
    --padding-inline: 1.75rem;
    padding: var(--padding-block) var(--padding-inline);
    display: inline-block;
    line-height: 1.1;
    text-decoration: none;
    font-size: 1.05rem;
    border-radius: 5px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    transition-duration: 0.2s;
    transition-property: background-color, color;

    &:hover {
        background: var(--three-link-sandcastle-hover-color);
    }

    &:focus,
    &:focus:focus-visible,
    a:focus:focus-visible &:not(span),
    a:focus &:not(span) {
        outline: var(--three-link-underline-color) solid 3px;
        outline-offset: 4px;
    }
}

.fullscreen {
    width: 100%;
    height: 100vh;
}

.wrap {
    width: 100%;
    padding: 1px 0 300px;
    box-sizing: border-box;
    font-size: 14px;

    h1 {
        margin-top: 50px;
    }

    h2 {
        margin-top: 50px;
    }

    h3 {
        margin-top: 50px;
    }

    h4 {
        margin-top: 24px;
    }

    h5 {
        margin-top: 22px;
    }

    p, ul, ol, table {
        margin-bottom: 1.7em;
    }

    p {
        line-height: 1.8;
    }

    ul, ol {
        padding-left: 20px;

        p {
            margin-bottom: 1.2em;
        }
    }

    li {
        margin-bottom: 4px;
    }

    .note,
    .warn {
        margin-bottom: 2em;
        padding: 14px 24px 4px;
        font-size: 14px;
        border-radius: 8px;

        p {
            margin-bottom: .9em;
            font-size: 14px;
        }

        ul, ol {
            line-height: 1.4;
        }
    }

    .container {
        width: 800px;
        margin: 0 auto;
        padding: 1px 20px;

        @media screen and (min-width: 2560px) {
            width: 1400px;
        }
    }

    .monaco-editor-widget {
        margin-bottom: 2em;
    }

    .el-affix--fixed {
        pointer-events: none;
    }
}

.el-button {
    --el-button-size: 20px;
    padding: 5px 8px;

    & + .el-button--small {
        margin-left: 5px;
    }
}

.el-radio-button__inner:hover {
    color: var(--three-link-hover-color);
}

.el-form-item {
    margin-bottom: 10px;
}

.el-form-item__label {
    padding-right: 6px;
}

.el-input-group__prepend {
    padding: 0 8px;
    line-height: 1;
}

.el-popover {
    --el-popover-padding: 8px;

    .el-popconfirm__icon {
        font-size: 1.1em;
    }

    .el-popconfirm__action {
        margin-top: 4px;
    }
}

.el-affix {
    width: 100% !important;
}

.item-field {
    display: inline-flex;
    align-items: center;
    height: var(--el-input-inner-height);
    margin-right: 5px;
    margin-bottom: 5px;
    line-height: var(--el-input-inner-height);
    border: 1px solid #dcdfe6;
    border-radius: var(--el-border-radius-base);
    overflow: hidden;
    box-sizing: border-box;

    .item-label {
        width: 30px;
        padding: 0 5px;
        background: #f1f1f5;
        border-right: 1px solid #dcdfe6;
        color: #909399;
        white-space: nowrap;
        text-align: center;
    }

    .item-value {
        flex: 1;
        display: inline-flex;
        align-items: center;
        color: var(--el-text-color-regular);

        .item-value-color,
        .item-value-input {
            display: flex;
            align-items: center;

            & + .item-value-color,
            & + .item-value-input {
                border-left: 1px solid #dcdfe6;
            }
        }

        .item-value-input {
            flex: 1;
        }
    }

    /*& + .item-field,
    & + .item-field-group {
        margin-right: 0;
    }*/

    &:last-child {
        margin-right: 0;
    }

    .el-input,
    .el-input-number {
        width: 100%;
        border: none;
        box-shadow: none;

        .el-input__wrapper {
            padding: 1px 4px 1px 5px;
            border: none;
            box-shadow: none;
        }
    }

    .el-input-number {
        .el-input__wrapper {
            padding-right: 30px;
            padding-left: 2px;
        }

        &.is-controls-right .el-input-number__decrease {
            right: 0;
        }

        .el-input-number__increase {
            right: 0;
        }

        .el-input-number__decrease:hover ~ .el-input:not(.is-disabled) .el-input__wrapper,
        .el-input-number__increase:hover ~ .el-input:not(.is-disabled) .el-input__wrapper {
            box-shadow: none;
        }
    }

    .el-color-picker--small {
        height: 22px;

        .el-color-picker__mask {
            border-radius: 0;
        }

        .el-color-picker__trigger {
            width: 22px;
            height: 22px;
            padding: 1px;
            border: none;

            .el-color-picker__icon {
                display: none;
            }

            .el-color-picker__color {
                border: none;
            }
        }
    }

    .el-switch {
        --el-switch-on-color: var(--three-link-hover-color);
        margin: 0 3px;
    }

    .el-select {
        .el-input__wrapper.is-focus,
        .el-input.is-focus .el-input__wrapper {
            box-shadow: none !important;
        }

        .el-input__suffix-inner>:first-child {
            margin-left: 4px;
        }

        .el-input .el-select__caret {
            font-size: 12px;
        }

        &:hover:not(.el-select--disabled) .el-input__wrapper {
            box-shadow: none;
        }
    }
}

.item-field-group {
    display: inline-flex;

    .item-field {
        flex: 1;
        margin-right: 0;

        & + .item-field,
        & + .item-field-group,
        & + .el-input {
            border-left: none;
        }

        &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    & + .item-field,
    & + .item-field-group {
        margin-left: 5px;
    }
}
