/* color palette from <https://github.com/vuejs/theme> */

/* 该项目的语义颜色变量 */
:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --vt-c-indigo: #2c3e50;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

:root {
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);

    --section-gap: 160px;
}

:root {
    --color-table-border: #ebeef5;
}

/* three 语义颜色变量 */
:root {
    --three-blue-main: #049EF4;
    --three-color: #444444;
    --three-link-color: var(--three-blue-main);
    --three-link-hover-color: var(--three-blue-main);
    --three-link-underline-color: var(--three-blue-main);
    --three-note-background-color: #f0f7fd;
    --three-code-background-color: #F5F5F5;
    --three-code-color: var(--three-blue-main);
    --three-notice-color: #fafbb5;
    --three-link-sandcastle-hover-color: var(--three-blue-main);
}

/* element plus 语义颜色变量 */
:root {
    --el-menu-bg-color: transparent;
    --el-menu-item-height: 24px;
    --el-menu-base-level-padding: 15px;
    --el-menu-level-padding: 12px;
    --el-menu-sub-item-height: var(--el-menu-item-height);
    --el-menu-active-color: #ffffff;
    --el-input-height: var(--el-component-size-small);
    --el-input-inner-height: var(--el-input-height, 24px);
    --el-border-radius-base: 2px;
    --el-fill-color-light: #f5f7fa;
    --el-fill-color-lighter: #fafafa;
    --el-table-row-hover-bg-color: var(--el-fill-color-light);
}

table,
thead,
tbody,
tfoot,
tr,
th,
td,
caption,
col,
colgroup {
    text-align: inherit;
    line-height: inherit;
    font-size: 1em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    display: table-header-group;
}

tbody {
    display: table-row-group;
}

tfoot {
    display: table-footer-group;
}

tr {
    display: table-row;
}

th,
td {
    display: table-cell;
}

caption {
    display: table-caption;
}

col {
    display: table-column;
}

colgroup {
    display: table-column-group;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.8;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    display: inline-block;
    color: var(--three-link-color);
    text-decoration: none;

    &:hover {
        color: var(--three-link-hover-color);
        text-decoration: underline var(--three-link-underline-color);
    }
}

